NODE_ENV=development
PORT=5001
DATABASE_URL=""
JWT_SECRET=""
CORS_ORIGINS="http://localhost:3000,http://localhost:3001"

UPLOAD_DIR="./public/uploads"
PUBLIC_UPLOAD_URL="http://localhost:5001/uploads"

REVALIDATE_URL="http://127.0.0.1:3001/api/revalidate"
REVALIDATE_SECRET=""
